#section1{
    background: #94dee9;
    background: linear-gradient(0deg, rgba(148, 222, 233, 1) 14%, rgba(148, 189, 233, 1) 58%, rgba(105, 141, 214, 1) 100%);
    overflow: hidden;
}

h1{
padding-top: 10%;
    font-size: 5.2em;
}

.name_tp{
    font-family: MacMinecraft;
    font-weight: 400;
    font-size: 1.6rem;
}

.profesion_tp{
    font-family: Poppins;
}

.hero_section h1{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 2%;
}

/*NUBES HERO SECTION*/

img.nube-1 {
    position: absolute;
    width: 600px;
    right: 0;
    bottom: 0;
}