#section1{
    overflow: hidden;
    background-image: url(../../assets/Images/Home/nubes-de-cielo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    margin-top: 10%;
    font-size: 5.2em;
}

.name_tp{
    font-family: MacMinecraft;
    font-weight: 400;
    font-size: 1.6rem;
}

.profesion_tp{
    font-family: Poppins;
}

.hero_section h1{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 2%;
}

/*NUBES HERO SECTION*/

img.nube-1 {
    position: absolute;
    width: 500px;
    right: 0;
    bottom: 0;
}