.app-header {
    background-color: rgba(255, 255, 255, 0.197);
    display: flex;
    width: 70%;
    align-items: center;
    border-radius: 100px;
    margin-top: 30px;
    justify-self: anchor-center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navigation_block{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/*LOGO*/

.logo_block{
    width: auto;
}

.logo_block img{
    width: auto;
    height: 45px;
}

.menu_block{
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 20px;
}

.cv_button_block{
    width: 10%;
}