:root {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #2A7B9B;
  background: linear-gradient(21deg, #2a7b9b 14%, #02347b 74%);
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100%;
}

body #root{
  max-width: 100%;
  width: 100%;
  padding: 0rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Montserrat";
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

section{
  box-sizing: border-box;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Noise */

.noise {
  position: relative;
  /* Other styles for your container */
}

.noise:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url(#grainy);
  pointer-events: none; /* Allows interaction with content below */
  opacity: 0.9; /* Adjust for desired grain intensity */
}

/*Colapso de margen*/
* {
  margin-block: 0; /* O margin: 0; */
}


/*///////////////////////////////////////// FONTS /////////////////////////////////////////*/

/*Montserrat*/

@font-face {
  font-family: 'Montserrat';
  src:
    url('/src/fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2'),
    url('/src/fonts/Montserrat/Montserrat-VariableFont_wght.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-italic';
  src:
    url('/src/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff2') format('woff2'),
    url('/src/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}


/*BebasNeue*/


@font-face {
  font-family: 'Bebas Neue';
  src:
    url('/src/fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2'),
    url('/fonts/BebasNeue/BebasNeue-Regular.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}